<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{ title }} - {{ meta.site.title }}</title>
	<link rel="home" href="{{ meta.site.url }}" />

	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

	<link rel="manifest" href="/site.webmanifest">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/ficons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/ficons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/ficons/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="shortcut icon" href="/assets/img/ficons/favicon.ico">
	<meta name="msapplication-TileColor" content="{{ meta.themeColour }}">
	<meta name="msapplication-config" content="/browserconfig.xml">
	<meta name="theme-color" content="#6AF0B0">

	<meta name="description" content="{{ description }}"/>
	<meta name="author" content="{{ meta.author }}">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@{{ meta.social.twitter }}">
	<meta property="twitter:creator" content="@{{ meta.social.twitter }}">

	<meta property="og:type" content="website">
	<meta property="og:title" property="twitter:title" content="{{ title }} - {{ meta.site.title }}">
	<meta property="og:url" content="{{ meta.site.url }}{{ page.url }}">
	<meta property="og:site_name" content="{{ meta.site.title }}">
	<meta property="og:title" content="{{ title }}">
	{% if socialMediaPhoto is defined  %}
	<meta property="og:image" property="twitter:image" name="image" content="{{ meta.site.url }}{{ socialMediaPhoto  }}">
	<meta property="og:image:width" content="1300">
	<meta property="og:image:height" content="650">
	{% else %}
	<meta property="og:image" property="twitter:image" name="image" content="{{ meta.site.url }}/assets/img/social-media/default.jpg">
	{% endif %}
	<meta property="og:description" property="twitter:description" content="{{ description }}">

	<link rel="stylesheet" href="/assets/css/style.css">
</head>

<body {% if bodyclass is defined %}class="{{ bodyclass }}"{% endif %}>
	<header>
		<div class="wrapper">
			<a href="/" class="logo">{{ meta.site.title }}</a>
		</div>
	</header>
	<main class="content">
		<div class="wrapper">
			{{ content | safe }}
		</div>
	</main>
	<script src="/assets/js/app.js"></script>
</body>
</html>
