---
layout: default.njk
---

<h1>{{ title }}</h1>

{%- if video is defined %}
<div class="video">
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ video }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>
{% endif %}
